body {
    background-color: #EDE1D4;
    font-family: "Instrument Sans", serif;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: rgb(40, 32, 25);
    margin-bottom: 20px;
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

form {
    padding: 45px;
    background-color: #f5f2ef;
    border-radius: 10px;
    box-shadow: 0px 4px 30px 0px rgba(40, 32, 25, 0.03);
    color: #5b4b3a;
}

.instructions {
    padding: 16px;
    border: none;
    border-radius: 10px;
    width: 70%;
    font-size: 15px;
}

.submit-button {
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    background-color: #5b4b3a;
    color: #f5f2ef;
    padding: 16px 24px;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(40, 32, 25, 0.2);
}

.submit-button:hover {
    background-color: #886c52;
    cursor: pointer;
}

.poem {
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    list-style: 24px;
    border-left: 3px solid #A65E3B;
    border-top: 1.5px solid #f5f2ef;
    border-right: 1.5px solid #f5f2ef;
    border-bottom: 1.5px solid rgb(245, 242, 239);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f5f2ef;
    color: #5b4b3a;
    font-weight: 100;
}

footer {
    color: #5b4b3a;
    font-size: 11px;
    text-align: center;
}

a {
    color: #282019;
}